[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
