@media (min-width: 991px) {
    body {
        background: url(https://open.saintic.com/api/bingPic?picSize=2);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .footer {
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 2px #000;
    }
}
