body {
    background: url(https://open.saintic.com/api/bingPic?picSize=2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}