// Global text color on <body>
$text-color               = $black;

// Font size
$font-size-medium         = .875em;
$font-size-large          = 1em;
$font-size-larger         = 1.125em;
$font-size-largest        = 1.5em;

// Global line height
$line-height-base         = 1.8;
$line-height-code-block   = 1.5; // Can't be less than 1.3;
